body {
  background-image: url(./images/mangapanels.jpeg);
}

main {
  background-color: white;
  margin: 148px;
  box-shadow: 5px 5px 15px black;
}

.nav-wrapper {
  display: flex;
}

#title {
  align-items: flex-start;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 5px 5px 15px black;
}

#show-title {
  background-color: white;
}

#show-info {
  margin-top: 5%;
  /* background-color: white;
  padding: 0px 0px 20px 20px; */
}

#show-poster {
  margin-top: 15%;
  border: 2px black;
  box-shadow: 5px 5px 15px black;
}

#rating-and-score {
  display: block;
  display: flex;
  width: 40%;
  padding-left: 16rem;
}

#user-score {
  margin-left: 30px;
}
