* {
    font-family: "Merriweather Sans", sans-serif;
  }
  
  header {
    background-color: #0026c5;
  }
  
  body {
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-image: url(./images/mangapanels.jpeg);
    
  }
  
  h1 {
    font-family: "Luckiest Guy", cursive;
    text-align: center;
    font-size: 100px !important;
    justify-content: center;
    color: white;
    padding-top: 30px;
    text-shadow: 5px 5px 5px black;
  }
  
h2{
    text-align: center;
    font-family: "Luckiest Guy", cursive;
    color: #345dff;
    padding-top: 30px;
    text-shadow: 5px 5px 5px black;
    justify-content: center;
    
}

.nav-wrapper {
  display: flex;
}

#title a {
  align-items: flex-start;
  font-family: "Luckiest Guy", cursive;
  text-shadow: 3px 3px 5px black;
}

.show-card {
    background-color: #345dff;
    padding-top: 20px;
    padding-bottom: 20px;
    position: flex;
    border-radius: 25px;
    box-shadow: 5px 5px 15px black;
    width: 400px;
    height: 100%;
    margin: 50px;
    display: grid;
    text-align: center;
    color: white;
    flex-shrink: 50%;
  
    

}
.card-container{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    


}
.img-card{
  background-repeat: no-repeat;
  background-size: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;

}
